@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #87CEEB; /* Sky Blue */
    --secondary-main-color: #B0E2FF; /* Powder Blue */
    --text-color: #000000; /* Black */
    --accent-color1: #FF7F50; /* Coral */
    --accent-color2: #98FF98; /* Mint Green */
    --accent-color3: #E6E6FA; /* Lavender */
}
.nonotes{
    color: var(--accent-color1);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:2em;
    font-weight: bold;
}

.modelbg{
    background-color: var(--main-color);
    border: 1px solid black;
}
    

.titlemodel{
    color:var(--accent-color1)
}

.modelbtn{
    background-color:var(--accent-color2);
    width:80px;
    color:var(--text-color);
    display:flex;
    justify-content: center;
    align-items:center;
}
.modelbtn:hover{
    background-color:var(--accent-color1);
    color:var(--text-color);
}